@model FitnessFrog.Core.Domain.Note

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Note</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <input type="hidden" asp-for="CreationDate" />
        <input type="hidden" asp-for="ModificationDate" />
        @*<input type="hidden" asp-for="UserId" />*@
        
        <div class="form-group">
            <label asp-for="UserId" class="col-md-2 control-label"></label>
            <div class="col-md-2">
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="NoteDate" class="col-md-2 control-label"></label>
            <div class="col-md-2">
                <input asp-for="NoteDate" class="form-control" />
                <span asp-validation-for="NoteDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="NoteType" class="col-md-2 control-label"></label>
            <div class="col-md-2">
                <select asp-for="NoteType" class="form-control" asp-items="ViewBag.NoteType"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="NoteTypeId" class="col-md-2 control-label"></label>
            <div class="col-md-2">
                <input asp-for="NoteTypeId" class="form-control" />
                <span asp-validation-for="NoteTypeId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="NoteText" class="col-md-2 control-label"></label>
            <div class="col-md-2">
                <input asp-for="NoteText" class="form-control" />
                <span asp-validation-for="NoteText" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-2">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-4">
                <input type="submit" value="Back to list" class="btn btn-primary btn-sm"/>
            </div>
        </div>

    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
