<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>@ViewData["Title"] - FitnessFrog</title>
    
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta name="viewport" content="width=device-width" />

    <environment names="Development">
        
        <!-- Bootstrap core CSS     -->
        <link rel="stylesheet" href="~/lib/material-dashboard/css/bootstrap.min.css"/>

        <!--  Material Dashboard CSS    -->
        <link rel="stylesheet" href="~/lib/material-dashboard/css/material-dashboard.css"/>
        
        <!--   Bootstrap DatePicker CSS   -->
        <link rel="stylesheet" href="~/lib/material-dashboard/css/datepicker.css"/>
        
        <!--     Fonts and icons     -->
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
        <link href="http://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Black+Ops+One">
        
        <!--     User CSS     -->
        <link rel="stylesheet" href="~/css/site.css"/>

    </environment>

    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
</head>
<body>
<div class="wrapper">
    <div class="sidebar" data-color="purple" data-image="../lib/material-dashboard/img/sidebar-1.jpg" >

        <div class="logo">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="simple-text">FitnessFrog</a>
        </div>

        <div class="sidebar-wrapper">
            <ul class="nav">
                @*<li>
                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="material-icons">home</i>
                        <p>Home</p>
                    </a>
                </li>*@
                <li>
                    <a asp-area="" asp-controller="Days" asp-action="Index">
                        <i class="material-icons">dashboard</i>
                        <p>Days</p>
                    </a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Exercises" asp-action="Index">
                        <i class="material-icons">fitness_center</i>
                        <p>Exercises</p>
                    </a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Foods" asp-action="Index">
                        <i class="material-icons">local_dining</i>
                        <p>Foods</p>
                    </a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Notes" asp-action="Index">
                        <i class="material-icons">content_paste</i>
                        <p>Notes</p>
                    </a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Users" asp-action="Index">
                        <i class="material-icons">person</i>
                        <p>Users</p>
                    </a>
                </li>
            </ul>
        </div>

    </div>


    <div class="main-panel body-content">
        <nav class="navbar navbar-transparent navbar-absolute">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse">
                </div>
            </div>
        </nav>
        @RenderBody()
        <footer class="text-center">
            <p>&copy; 2016 - FitnessFrog</p>
        </footer>
    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        
        <!--   Core JS Files   -->

        <script src="~/lib/material-dashboard/js/material.min.js"></script>
        
        <!--   Datepicker Plugin   -->
        <script src="~/lib/material-dashboard/js/bootstrap-datepicker.js"></script>
                
        <!--  Charts Plugin -->
        <script src="~/lib/material-dashboard/js/chartist.min.js"></script>

        <!--  Notifications Plugin    -->
        <script src="~/lib/material-dashboard/js/bootstrap-notify.js"></script>
        
        <!-- Material Dashboard javascript methods -->
        <script src="~/lib/material-dashboard/js/material-dashboard.js"></script>

    </environment>
    @RenderSection("scripts", required: false)
</div>
</body>
</html>
